<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Scaffolding - Index.html</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <h1>Application Name: Hi George<span class="app"></span></h1>
    <h1>Version: <span class="version"></span></h1>
    <script src="scripts/lib/require.js"></script>
    <script src="scripts/main.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </body>
